@page
@using Skyworkz.News.ViewModels
@model IndexModel
@{
    ViewData["Title"] = "Skyworkz NewsEntity";
}
<br/><br /><br />
@foreach (var n in Model.NewsCollection)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@n.Title </h2>
            <p>@n.When</p>
            <p>
                @n.Description
            </p>
        </div>
    </div>
}


